<style type="text/css">
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;padding: 0;border: 0; outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;
}

body {
	background: #e0e0e0 url(bg.png);
	font-family: Helvetica, sans-serif; font-size: 12px; line-height: 24px;
}

nav {
	margin:0px;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	margin:0px;
	background: #efefef; 
	padding: 0 20px;
	list-style: none;
	position: relative;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
		
nav ul li a {
	display: block; padding: 10px 30px;
	color: #757575; text-decoration: none;
}
			
nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; position: relative;
}

nav ul ul li a {
	font-size:16px;
	padding: 5px 30px;
	color: #fff;
}	

nav ul ul li a:hover {
	background: #4b545f;
}
		
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

.main-menu {
	font-size: 18px;
	font-weight: bold;
}

.main-menu:hover {
	box-shadow: 0px 0px 2px rgba(0,0,0,0.15);
	background: #eeeeee; 
}

.content {
	background: #fefefe;
	margin:1px;
	padding:10px;
	
	min-height:500px;
}

.inactive {
   pointer-events: none;
   cursor: default;
}

.right {
	float:right;
}

#container {
    position:relative;
}

#loginForm {
 	width: 220px;
    height: 155px;
}

#loginForm input[type="text"],#loginForm input[type="password"] {
    width: 100%;
    height: 22px;
    margin-top: 1px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
 
    padding: 2px;
    margin-bottom:10px;
}

#loginForm input[type="submit"] {
    width: 100%;
    height: 35px;
    margin-top: 7px;
    font-size: 18px;
    font-weight: bold;
    outline: none; 
    background:#5f6975;
    color:#fff;
    border: 1px solid rgba(0, 0, 0, .49);
    
    padding: 2px;
    margin:2px;
}

.localeSelector {
	padding: 8px 30px;
}
</style>