<style type="text/css">

.messagetypes-container {
	margin:0px;
	text-align: center;
}

.messagetypes-container ul ul {
	display: none;
}

.messagetypes-container ul li:hover > ul {
	display: block;
}

.messagetypes-container ul {
	margin:0px;
	background: #efefef; 
	padding: 0 20px;
	list-style: none;
	position: relative;
}

.messagetypes-container ul:after {
	content: ""; clear: both; display: block;
}

.messagetypes-container ul li {
	float: left;
}
		
.messagetypes-container ul li a {
	display: block; padding: 10px 30px;
	color: #757575; text-decoration: none;
}
			
.messagetypes-container ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

.messagetypes-container ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; position: relative;
}

.messagetypes-container ul ul li a {
	font-size:16px;
	padding: 5px 30px;
	color: #fff;
}	

.messagetypes-container ul ul li a:hover {
	background: #4b545f;
}
		
.messagetypes-container ul ul ul {
	position: absolute; left: 100%; top:0;
}

</style>