.reportsTable {
	table-layout: fixed;
	width: 100%;
	overflow: scroll;
	border-collapse: collapse;
}

.reportsTable td,th {
	overflow: hidden;
	border: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	text-align: center;
}

.reportsTable tr:nth-child(odd){ background-color:#e5e5e5; }


.reportsTable th {
	background: -o-linear-gradient(bottom, #666666 5%, #b2b2b2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666
		), color-stop(1, #b2b2b2));
	background: -moz-linear-gradient(center top, #666666 5%, #b2b2b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666",
		endColorstr="#b2b2b2");
	background: -o-linear-gradient(top, #666666, b2b2b2);
	background-color: #666666;
	text-align: center;
	font-weight: bold;
}

