td.title { vertical-align:text-top; border: 0px;}
select {width: 100%}
input[type=text] {width: 100%}
span.disabled { color:gray;}
table.left{float: left; padding: 30px;}
input[type="submit"] {
	float:none;
    width: 225px;
    height: 35px;
    margin-top: 7px;
    font-size: 18px;
    font-weight: bold;
    outline: none; 
    background:#5f6975;
    color:#fff;
    border: 1px solid rgba(0, 0, 0, .49);
    
    padding: 2px;
    margin:2px;
    
}